html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
* {

	padding: 0;
	margin: 0;
}
.animate-enter-setup {
	-webkit-transition: 3s linear all; /* Chrome */
	opacity: 0;
}
.animate-enter-setup.animate-enter-start {
	/* The animation code itself */
	opacity: 1;
}
.wrapper,.view {
	width: 100%;
	height: 100%;
}
