<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="Fahim" />
		<!-- Date: 2013-11-04 -->
		<link type="text/css" rel="stylesheet" href="/template/directive/datalist/css/style.css"/>
		
	</head>
	<body>
		<div class="datalist-wrapper">
		<h1>{{data.title}}</h1>
		<ul class="datalist-holder">
			<li  ng-repeat="item in data.stock" >
				<p class="price"><span class="title">Lowest Price</span> {{item.Low}}</p>
				<p class="date">{{item.date}}</p>
			</li>
		</ul>
		</div>
	</body>
</html>

