<!-- --><!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>home</title>
		<meta name="author" content="Fahim Chowdhury" />
		<link type="text/css" rel="stylesheet" href="/template/view/home/css/style.css"/>
			<script type="text/javascript" src="/template/view/home/js/main.js"></script>
	</head>
	<body> 
		<ul>
			<li>
				<datalist></datalist>
			</li>
			<li>

			</li>
		</ul>
	
</body>
</html> 